@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  position: relative;
  width: 100%;
}

.square::before {
  content: "";
  display: block;
  padding-top: 100%; /* This gives us the aspect ratio of 1:1 */
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
